<%= form_with model: book do |f| %>
  <div class=" mb-4">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control", placeholder: "Harry Potter..." %>
  </div>

  <div class="mb-4">
    <%= f.label :cover %>
    <%= f.file_field :cover, class: "form-control" %>
  </div>

  <div class=" mb-4">
    <%= f.label :synopsis %>
    <%= f.text_area :synopsis, class: "form-control", placeholder: "..." %>
  </div>

  <div class="p-4 bg-light border-top d-flex justify-content-between">
    <%= link_to "Cancel", :back, class: "btn btn-outline-secondary" %>
    <%= f.submit book.new_record? ? "Add Book" : "Save Book", class: "btn btn-primary" %>
  </div>
<% end %>
