<header class="row align-items-center g-4">
  <div class="col-auto">
    <h1>Books</h1>
  </div>

  <div class="col">
    <%= link_to "New Book", new_book_path, class: "btn btn-outline-secondary" %>
  </div>
</header>

<p class="lead"><%= @books.size %> <%= "book".pluralize(@books.size) %></p>

<div class="row row-cols-4 g-4">
  <% @books.each do |book| %>
    <div class="col">
      <div class="card h-100">
        <%= image_tag book.cover %>

        <div class="card-body">
          <h2 class="h5 card-title">
            <%= link_to book.title, book, class: "stretched-link text-reset text-decoration-none" %>
          </h2>
        </div>
      </div>
    </div>
  <% end %>
</div>
